<div class="row">
<div class="col-xs-12">
    <p>Add New Server Or Blueprints</p>
    <label>Server Name</label>
    <!-- DataBinding Approach -->
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
     <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->

    <!-- local Reference Approach -->
    <input type="text" class="form-control" #serverNameInput>
    <label>Server Content</label>
    <input type="text" class="form-control" #serverContentInput>
    <br>
    <!-- Using Local Reference Approach -->
    <!-- <button type="button" class="btn btn-primary" (click)="onAddServer(serverNameInput,serverContentInput)">Add Server</button>
    <button type="button" class="btn btn-primary" (click)="onAddBlueprint(serverNameInput,serverContentInput)">Add Server Blueprint</button> -->
     
    <!-- Using @ViewChild('Somereference',{static:true}) Somereference : ElementRef Approach -->
    <button type="button" class="btn btn-primary" (click)="onAddServer()">Add Server</button>
    <button type="button" class="btn btn-primary" (click)="onAddBlueprint()">Add Server Blueprint</button>
  </div>
</div>
